*{
    margin:0;
    padding:0;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-image: url('./bg.jpg');
    background-size: 100% 100vh;

    filter: blur(5px) brightness(50%);
}